/* BLACK BACKGROUND #222831 */
/* GREY  FOREGROUND #393e46 */
/* ORANGE SECONDARY #d65a31 */
/* WHITE    PRIMARY #eeeeee */

/* APP STYLES */
:root {
    --background-color: #222831;
    --foreground-color: #393e46;
    --secondary-color: #d65a31;
    --primary-color: #eeeeee;
}


body, .bg-default {
    background-color: var(--background-color);
}

.gb-foreground {
    background-color: var(--foreground-color);
}

body /* * */ {
    color: var(--primary-color);
}

.b-rating-star {
    color: #d65a31;
}

.pagination {
    color: white;
}

a {
    color: var(--secondary-color);
}

a:hover {
    color: var(--primary-color);
}

.content {
    margin-top:15px;
    margin-bottom:30px;
}

.btn-framebox-primary {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-framebox-primary:hover {
    background-color: var(--primary-color);
}

.btn-framebox-primary:disabled {
    color: var(--primary-color);
    background-color: transparent;
}

.btn-framebox-secondary {
    background-color: var(--foreground-color);
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-framebox-secondary:hover {
    background-color: var(--primary-color);
    color: var(--foreground-color);
}

.btn-framebox-secondary:disabled {
    color: var(--primary-color);
    background-color: transparent;
}

.text-framebox-secondary {
    color: var(--secondary-color)
}

.modal-body {
    color: var(--background-color);
}

.card {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    margin-top: 25px;
    margin-bottom: 25px;
}

hr {
    border: 0.5px solid var(--primary-color);
    width: 95%;
}

select>option {
    color: black;
}

pre.default {
    color: #eeeeee;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    white-space: pre-wrap;
}